/*
    *****CREDITS: PLEASE DO NOT DELETE*****
    *       Written by Thomas Smith       *
    *                2015                 *
    *        tomsmith1204@gmail.com       *
    ***************************************
*/

/*GENERAL STYLES*/
.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #e7e7e7;
 }

 .box-margin{
 	margin: .5em .5em .5em .5em;
 }

.welcome-bar{
	display: block;
	background-color: #000000;
	height: 20px;
}

/*HEADER STYLES*/
header {

	background-color:#3f4345;
	color: #FFFFFF;
	border-bottom: 8px solid #000000;
}

.black{
	color: #FF3935;
}

header a:link {
	color:#c5dbf1;
}

header a:visited{
	color:#c5dbf1;
}

header a:hover{
	color: #FFFFFF;
}


/*END HEADER STYLES*/


/*FOOTER STYLES*/
footer {
	background-color:#3f4345;
	color: #FFFFFF;
    border-top: 8px solid #000000;
    padding: 0 .5em 0 .5em;
}

footer a:link {
	color:#c5dbf1;
}

footer a:visited{
	color:#c5dbf1;
}

footer a:hover{
	color: #FFFFFF;
}

footer .bracket {
	font-size: 32px;
	font-weight: 900;
}

footer  .table {
	border-top: 2px solid #3f4345
}

.love {
	color:#FF3935;
}
/*END FOOTER STYLES*/

/*HACKS*/
/*stretch footer to bottom of window*/
html,body, footer { 
	height:100%;
}
/*END HACKS